<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- Bootstrap Documentation from: https://getbootstrap.com/docs/ -->
	<link rel="stylesheet" href="style_certificate.css">
	
	<!-- Tutorial on Fontawesome https://www.youtube.com/watch?v=cXRTGUvH_jw -->
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	
	<link href="https://fonts.googleapis.com/css?family=Meie+Script|Shadows+Into+Light|Arvo|Monda" rel="stylesheet">
	
	<title>Certificate</title>	
</head>
<body>
<div class="container container-fluid border border-primary text-center my-4 font_meie_script">
<div><h1 class="">Employee of the Month</h1></div>
<div class="my-10"><h3 class="text-muted">awarded to</h3></div>

	<!-- TUTORIAL FROM: https://www.quackit.com/html/codes/html_form_to_email.cfm 
  <form method="post" action="send_mail.php">
		<p>
			<label>First Name
				<input type="text" name="first_name" required>
			</label> 
		</p>
		<p>
			<label>Email 
				<input type="email" name="email_address">
			</label>
		</p>
		<p>
			<label>Comments
				<textarea name="comments" maxlength="500"></textarea>
			</label>
		</p>
		<p><button>Submit the form</button></p>
	</form>
	-->
</div>
</body>
</html>
